# AAGAM Firebase Configuration Example
VITE_FIREBASE_API_KEY=AIzaSyBver8hGGWlfGKTpixC7hMw8zHVNePM1go
VITE_FIREBASE_AUTH_DOMAIN=aagam-16f20.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=aagam-16f20
VITE_FIREBASE_STORAGE_BUCKET=aagam-16f20.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=409592571151
VITE_FIREBASE_APP_ID=1:409592571151:web:2f493b157a55797fef8a7a
VITE_FIREBASE_MEASUREMENT_ID=G-9FW9F63TH1
